
:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
}

.navbar {

  color: var(--text-color-light);
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-color-light) ;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #141414;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #141414;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 120px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 0;
  z-index: 9000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown.active .dropdown-menu {
  opacity: 1;
  max-height: 300px; 
}