
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}



/*buttons*/
.btn-group{
 display: flex;
 
 justify-content: start;
 padding-left: 4.8rem;
 margin-bottom: 1.6rem;
 z-index: 1;
}
.btn-group button{
   padding: 10px;
   margin: 7px;
   border: none;
   border-radius: 50px;
   width: 100px;
   font-size: 13px;
   font-weight: bold;
  


}





/*send button*/

.send-btn{
  padding: 9px;
  border-radius: 20px;
  width: 180px;
  margin:25px;
  font-size: 16px;
  font-weight: bold;
  background-color: #addacd;
  border: none;
  display:flex;
  justify-content: center;
}





.side-menu{
  font-family: 'Poppins', sans-serif;
list-style: none;
 transition: all .3s ease-out;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 200px;
  height: 100vh;
 
}





.side-menu  {
  margin: 2.5rem;
  text-align: start ;
  
  
}

.side-menu li{
  margin-bottom: 14px;

}

.side-menu li span  {
 
  font-weight: lighter;
  padding: 11px ;
 
  text-align: center;
  font-size: 16px;

  color: #777;
  transform: translate(1.1) 0.5s;
}

.side-menu li span  :hover {
  color: #2d2e2d;
  
}






.box-group{
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
 
 
}

.box{
  height: 100%;
  width: 25%;
  color:rgb(12, 12, 12);
  font-size: 28px;
  font-weight: bold;
  background-color: #e6e5e5;
  border: none;
  border-radius: 13px;
  display:flex;
  flex-direction: column;
 
  justify-content:space-evenly;
 
}

.box span{
  font-size: 14px;
  color:gray;
}



.bar{
  display: flex;
  gap: 18px;
  justify-content: end;
  margin-bottom: 24px;
  margin-right: 18px;
}




/*Dashboard*/

.dashboard-content{
  display: flex;
  padding-top: 40px;

}

.column1{
  width: 20%;
  height: 100vh;
  border: none;
}

.column2{
  width: 80%;
  padding: 10px;
  border: none;
  display: flex;
   justify-content: center;
   align-items: center;
}


:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-dark: #121212;
    --text-color-dark: #ffffff;
  }
}

.App {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  text-align: center;
}


.App .dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}



