
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.circle-p{
  border-radius: 50%;
  width: 40px;

  font-weight: bold;
  background-color: #61dafb;
  color: #1b1a1a;
  text-align: center;
}





/*buttons*/
.btn-group{
 display: flex;
 
 justify-content: start;
 padding-left: 4.8rem;
 margin-bottom: 1.6rem;
 z-index: 1;
}
.btn-group button{
   padding: 10px;
   margin: 7px;
   border: none;
   border-radius: 50px;
   width: 100px;
   font-size: 13px;
   font-weight: bold;
  


}
/*MultiStep Form*/
.multistep-form
{
position: absolute;

top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  width: 400px;
  background: gray;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  border-radius: 4px;
 box-shadow: 0 15px 35px rgba(0,0,0,9);
  
 
}
  .multistep-form  .content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.second-step  .content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.third-step  .content
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
 .first-step  .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
 
}
.second-step  .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
 
}
.third-step  .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
 
}

 .multistep-form   input{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.second-step   .content input{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.third-step   .content input{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}


.back-next{
 z-index: 1300;
}

.back-next button{  
  padding: 9px;
  border-radius: 20px;
  width: 180px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #E3F2FD;
  border: none;
 }




/*Login Form*/


section 
{
 
  min-height: 100vh;
  background: #fff;

  position: absolute;
  width: 100vw;
 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}




section .login 
{
  position: absolute;
  width: 400px;
 background: gray; 
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .signup 
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
}
section .login .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signup .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .login  .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
 
}
section .signup  .content h2 
{
  font-size: 2em;
  color: #0f0;
  text-transform: uppercase;
 
}
section .login .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signup .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .login .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .signup .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .login .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .signup .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .login .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.login .content .form .inputBox input:focus ~ i,
.login .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.login .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.login .content .form .links .Link
{
  color: #fff;
  text-decoration: none;
}
.login .content .form .links .Link:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}



.login .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.signup .content .form .inputBox input[type="submit"]
{
  padding: 10px;
  background: #0f0;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}



/*Transactions*/

h2 {
  font-size: 21px;
  color: #272626;
  text-align: start;
  padding-left: 40px;
 
 
}

.content {
  display: flex;
  justify-content: center;
  
  padding: 16px;
  background-color: inherit;
  font-weight: 300;
  margin-top: none;
}

.custom-table {
  min-width: 1000px;
  border-collapse: collapse;
}

.custom-table thead tr,
.custom-table thead th {
  border-top: none;
  border-bottom: none;
  color: #1b1a1a;
}


.custom-table tbody td {
  color: #777;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;

  
}

.custom-table tbody tr:not(.spacer) {
  border-radius: 7px;
  overflow: hidden;
  -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }



.custom-table tbody tr th,
.custom-table tbody tr td {
  background: inherit;
  border: none;
}

.custom-table tbody tr.spacer td {
  padding: 0;
  height: 3px;
  border-radius: 0;

  background: transparent;
}




.custom-table tbody tr:hover  {
  color: #222121;
  background: #E3F2FD;
  border-radius: 70px;
 
}

/*send button*/

.send-btn{
  padding: 9px;
  border-radius: 20px;
  width: 180px;
  margin:25px;
  font-size: 16px;
  font-weight: bold;
  background-color: #addacd;
  border: none;
  display:flex;
  justify-content: center;
}





.side-menu{
  font-family: 'Poppins', sans-serif;
list-style: none;
 transition: all .3s ease-out;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  width: 200px;
  height: 100vh;
 
}





.side-menu  {
  margin: 2.5rem;
  text-align: start ;
  
  
}

.side-menu li{
  margin-bottom: 14px;

}

.side-menu li span  {
 
  font-weight: lighter;
  padding: 11px ;
 
  text-align: center;
  font-size: 16px;

  color: #777;
  transform: translate(1.1) 0.5s;
}

.side-menu li span  :hover {
  color: #2d2e2d;
  
}






.box-group{
  height: 200px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
 
 
}

.box{
  height: 100%;
  width: 25%;
  color:rgb(12, 12, 12);
  font-size: 28px;
  font-weight: bold;
  background-color: #e6e5e5;
  border: none;
  border-radius: 13px;
  display:flex;
  flex-direction: column;
 
  justify-content:space-evenly;
 
}

.box span{
  font-size: 14px;
  color:gray;
}



.bar{
  display: flex;
  gap: 18px;
  justify-content: end;
  margin-bottom: 24px;
  margin-right: 18px;
}




/*Dashboard*/

.dashboard-content{
  display: flex;
  padding-top: 40px;

}

.column1{
  width: 20%;
  height: 100vh;
  border: none;
}

.column2{
  width: 80%;
  padding: 10px;
  border: none;
  display: flex;
   justify-content: center;
   align-items: center;
}


:root {
  --bg-color-light: #ffffff;
  --text-color-light: #000000;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-dark: #121212;
    --text-color-dark: #ffffff;
  }
}

.App {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  text-align: center;
}


.App .dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}



